<div class="columns bt-0 ml-6 mr-6">
    <div class="column is-3 is-offset-1" id="product-list">
        <div class="mt-4">
            <span class="icon">
                <i class="fa fa-mobile"></i>
            </span>
            <span>Laptop, Tablete & Telefoane</span>
        </div>
        <div class="mt-4">
            <span class="icon">
                <i class="fa fa-desktop"></i>
            </span>
            <span>PC, Periferice & Software</span>
        </div>
        <div class="mt-4">
            <span class="icon">
                <i class="fa fa-television"></i>
            </span>
            <span>TV Audio-Video & Foto</span>
        </div>
        <div class="mt-4">
            <span class="icon">
                <i class="fa fa-shopping-bag"></i>
            </span>
            <span>Bacanie</span>
        </div>
        <div class="mt-4">
            <span class="icon">
                <i class="fa fa-gamepad"></i>
            </span>
            <span>Gaming, Carti & Birotica</span>
        </div>
    </div>
</div>

<app-category-and-product-display> </app-category-and-product-display>
<!-- <section class="section">
    <form [formGroup]="inputForm" (ngSubmit)="addCategory()" novalidate>
        <div class="container">
            <h1 class="title">Create Category</h1>
            <div class="container1">
                <label class="label">Name:</label>
                <input placehorlder="Name" class="control" formControlName="name">
                <label class="label">Description:</label>
                <input placehorlder="Name" class="control" formControlName="description">
            </div>
        </div>
    </form>
</section> -->

<!-- <section>
    <form #categoryForm="ngForm" (ngSubmit)="addCategory(categoryForm.value)">
        <div class="container">
            <h1 class="title">Create Category</h1>
            <div class="container1">
                <label class="label">Name:</label>
                <input placehorlder="Name" class="control" name="name" ngModel>
                <label class="label">Description:</label>
                <input placehorlder="Name" class="control" name="description" ngModel>
            </div>
            <button>Add Categor</button>
        </div>
    </form>
</section>

<div *ngFor="let category of categories">
    <p>Name: {{category.name}}</p>
    <p>Description: {{category.description}}</p>
</div>

<button class="button" (click)="getCategories()">Press Me</button> -->